body {
    background-color: var(--background-color-page);
    color: var(--text-color-default);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    font-family: 'Workbench', serif;
}

h1 {
    background-color: var(--background-color-header);
    color: var(--text-color-header);
    font-family: 'Handjet', sans-serif;
    display: flex;
    flex-direction: row;
}

a {
    color: var(--link-color);
    font-family: 'Workbench', serif;
}

.metric {
    background-color: var(--background-color-metric);
    color: var(--text-color-default); /* Reuse the default text color */
    border: 1px solid var(--border-color-metric);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.metric .score-box h1 {
    background-color: transparent;
}

.score-box {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid var(--border-color-score-box);
    background-color: var(--background-color-metric);
}

.info-table {
    border-collapse: collapse;
}

.label {
    text-align: right; /* Align the labels to the right */
    padding-right: 10px; /* Add some space between the labels and values */
}

svg.icon {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    vertical-align: top;
    fill: currentColor;
  }